/* GENERIC CLASSES __ RC */

.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}

.flr {
  float: right;
}


/* POSSIBLE CONFLICTS */

b {
  font-weight: 700;
}

.form-control.fullwidth {
  margin-bottom: 10px;
}

.form-control.fullwidth input {
  width: 100%;
}

.row {}

.row::after {
  display: block;
  clear: both;
  content: ' ';
}

/* NEW STYLES */

/* ICONS CSS ONLY */

/* ICONS */

.icon-edit {
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-edit.png);
  vertical-align: -2px;
}

/* icon modificators */

/* CNR */



/* LOGIN */

.footer {
  position: relative;
  bottom: 20px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 25px;
  margin-left: 25px;
  max-width: 100%;
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  color: rgba(0, 0, 0, 0.6);
}

.footer-copy {
  float: left;
}

.footer-time {
  padding-right: 00px;
  text-align: right;
}


/* DASHBOARD */
.container-900 {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 900px;
}
.row .col-1-3 {
  width: 33%;
}
.row .col-2-3 {
  width: 66%;
}

.dashboard-bg {
  background: #dadde5;
}

.dashboard-bg .main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-bg .header {
  margin-bottom: 0;
}

.dashboard-bg .header .logo {
  margin-top: 8px;
  width: 165px;
  height: 34px;
  background: url('../img/logo-dash.png') no-repeat center;
  background-size: contain;
}

.dashboard-bg .form-control input {
  background: #e6e6e6;
}

.dashboard-bg .form-control input:focus {
  background: white;
}

.dashboard-bg--light {
  background: #eef0f5;
}

.dashboard-bg--light .dashboard-right {
  padding-left: 1px;
}

.dashboard-bg--light .footer {
  position: relative;
}

.dashboard-left {
  position: relative;
  -webkit-flex: 0 1 300px;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  float: left;
  min-height: -webkit-calc(100vh - 72px);
  min-height: calc(100vh - 72px);
  width: 300px;
  background: #666f80;
  color: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-flex: 0;
}

.dashboard-left a {
  color: white;
}

.dashboard-left ul {
  margin-top: 10px;
  margin-bottom: 50px;
}

.dashboard-left ul li {
  display: block;
  overflow: hidden;
  max-height: 54px;
}

.dashboard-left ul li a {
  display: block;
  margin-top: -1px;
  padding: 14px 20px 14px 17px;
  border-top: 1px solid #7d8493;
  border-bottom: 1px solid #7d8493;
  background: #525966 url('../img/dash-left-carret.png') no-repeat 95% center;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 16px;
  font-family: 'oswaldregular';
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.dashboard-left ul li a span {
  vertical-align: middle;
}

.dashboard-left ul li a:hover {
  background-color: #3f454f;
  text-decoration: none;
}

.dashboard-left ul li.no-carret a {
  background: #525966;
}

.dashboard-left ul li.no-carret a:hover {
  background-color: #3f454f;
}

.dashboard-left ul li.collapse a {
  background: #7e899e;
}

.dashboard-left ul li.collapse a:hover {
  background: rgba(126, 137, 158, 0.7);
}

.dashboard-left::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -30px 0px 30px -30px rgba(0,0,0,0.4);
          box-shadow: inset -30px 0px 30px -30px rgba(0,0,0,0.4);
  content: ' ';
  pointer-events: none;
}

.dashboard-left.collapsed {
  -webkit-flex: 0 0 50px;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  width: 50px;
  -webkit-box-flex: 0;
}

.dashboard-left.collapsed a {
  padding-left: 10px;
  background: #525966 url('../img/dash-left-carret-small.svg') no-repeat 95% 95%;
}

.dashboard-left.collapsed a span {
  display: none;
}

.dashboard-left-group {
  padding-top: 10px;
}

.dashboard-left-group:first-child {
  padding-top: 5px;
  padding-bottom: 10px;
}

.dashboard-right {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  float: left;
  padding-left: 30px;
  width: -webkit-calc(76% - 30px);
  width: calc(76% - 30px);
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.dashboard-right .container {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-flex: 1;
}

.dashboard-right .footer {
  padding-top: 50px;
  opacity: 1;
}

.dashboard-right .ico-close {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  background: url('../img/ico-close.png') no-repeat center;
  vertical-align: middle;
}

.dashboard-right .form-control img {
  max-width: 100%;
}

.dashboard-right-head {
  margin-top: 30px;
  font-size: 30px;
  font-family: 'oswaldregular';
}

.dashboard-right-head .flr {
  margin-top: -8px;
}


.dashboard-navi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  margin-top: 30px;
  margin-right: 40px;
  font-size: 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
}


.dashboard-navi-item {
  display: inline-block;
  -webkit-flex: 0 1 290px;
      -ms-flex: 0 1 290px;
          flex: 0 1 290px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 2%;
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 4px;
  background: white;
  -webkit-box-shadow: 0 8px 20px rgba(89, 108, 153, 0.2);
          box-shadow: 0 8px 20px rgba(89, 108, 153, 0.2);
  text-align: center;
  font-size: 0;
  -webkit-transition: -webkit-box-shadow .5s ease-out;
  transition: -webkit-box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out, -webkit-box-shadow .5s ease-out;
  -webkit-box-flex: 0;
}


.dashboard-navi-item img {
  display: inline-block;
  max-width: 100%;
}


.dashboard-navi-item span {
  display: block;
  margin-top: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font: 20px/22px 'oswaldregular';
}


.dashboard-navi-item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}



/* DASH IMG */
.dash-ico {
  margin-right: 10px;
  width: 25px !important;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}


.ico-dash-portal {
  width: 25px;
  height: 25px;
  background: url(../img/ico-dash-portal.png) no-repeat center;
}
.ico-nacelle {
  width: 20px;
  height: 25px;
  background: url(../img/sprites/ico-nacelle.png) no-repeat center;
}
.ico-forum {
  width: 23px;
  height: 21px;
  background: url(../img/sprites/ico-forum.png) no-repeat center;
}
.ico-collaboration {
  width: 25px;
  height: 25px;
  background: url(../img/sprites/ico-collaboration.png) no-repeat center;
}
.ico-support {
  width: 21px;
  height: 22px;
  background: url(../img/sprites/ico-support.png) no-repeat center;
}
.ico-product {
  width: 25px;
  height: 23px;
  background: url(../img/sprites/ico-product.png) no-repeat center;
}
.ico-tech {
  width: 25px;
  height: 19px;
  background: url(../img/sprites/ico-tech.png) no-repeat center;
}
.ico-materials {
  width: 16px;
  height: 23px;
  background: url(../img/sprites/ico-materials.png) no-repeat center;
}
.ico-communcation {
  width: 20px;
  height: 20px;
  background: url(../img/sprites/ico-communication.png) no-repeat center;
}
.ico-business {
  width: 26px;
  height: 20px;
  background: url(../img/sprites/ico-business.png) no-repeat center;
}
.ico-fleet {
  width: 18px;
  height: 16px;
  background: url(../img/sprites/ico-fleet.png) no-repeat center;
}
.ico-website {
  width: 23px;
  height: 20px;
  background: url(../img/sprites/ico-csutomer-website.png) no-repeat center;
}
.ico-collapse-menu {
  width: 23px;
  height: 23px;
  background: url(../img/sprites/ico-collpasemeunu.png) no-repeat center;
}

.icon-logout {
  margin-right: 5px;
  width: 19px;
  height: 19px;
  background: url('../img/ico-logout.png') no-repeat center;
  background-size: cover;
  vertical-align: top;
}

/* SUPPORT */
.support-contact {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  background: white;
}
.support-contact img {
  float: left;
  margin-right: 13px;
  max-width: 100%;
}
.support-contact::after {
  display: block;
  clear: both;
  content: ' ';
}
.support-contact-name {
  margin: 10px 0 15px 0;
  font-size: 20px;
}
.support-contact-mail {
  text-decoration: underline;
  font-size: 16px;
  font-family: 'robotoregular';
}
.support-contact-mail::before {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url('../img/icon-contact-phone.png') no-repeat center;
  content: ' ';
  vertical-align: middle;
}
.support-contact-mail:hover {
  text-decoration: none;
}
.support-contact-phone {
  margin-top: 12px;
  text-decoration: underline;
  font-size: 16px;
  font-family: 'robotoregular';
}
.support-contact-phone::before {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: url('../img/icon-contact-mail.png') no-repeat center;
  content: ' ';
  vertical-align: -4px;
}
.support-contact-phone:hover {
  text-decoration: none;
}

.header {}

.header-user {
  float: right;
}

.header-user-img {
  display: inline-block;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.header-user-img img {
  max-width: 100%;
}

.header-user-info {
  display: inline-block;
  vertical-align: top;
  font-family: 'robotomedium', Arial, Helvetica, sans-serif;
}

.header-user-name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.header-user-link {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  font-size: 14px;
}

.header-user-link:hover {
  text-decoration: none;
}

.header-user-split {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  width: 1px;
  height: 23px;
  background: #cccccc;
  content: ' ';
  vertical-align: middle;
}
