@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-bold-webfont.woff') format('woff'),
  url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
  url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-medium-webfont.woff') format('woff'),
  url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
  url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'oswaldregular';
  src: url('../fonts/oswald-regular-webfont.eot');
  src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/oswald-regular-webfont.woff') format('woff'),
  url('../fonts/oswald-regular-webfont.ttf') format('truetype'),
  url('../fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

html, body, div, span, h2, p, a, img, strong, b, i, ul, li, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

.row .col {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

::-moz-placeholder {
  color: #d1d1d1;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #d1d1d1;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #d1d1d1;
}

/*
 * Table styles
 */

/*   Form styler */

/*  End of Form styler */

a {
  font-family: 'robotomedium', Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #596c99;
  outline: none;
}

a:hover,
a:active {
  text-decoration: underline;
  outline: none;
}

body {
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 18px;
  min-width: 1024px;
  background: #eef0f5;
  outline: none;
}

.header {
  background: #fff;
  padding: 10px 15px;
  box-shadow: 0 1px 5px #dadce1;
  margin-bottom: 24px;
}

.header:after {
  content: '';
  display: block;
  clear: both;
}

.logo {
  display: block;
  float: left;
  height: 36px;
  background: url(../img/logo.png) 0 0 no-repeat;
  font-size: 20px;
  line-height: 36px;
}

.container {
  padding: 0 20px;
}

.container-2 {
  max-width: 820px;
  margin: 0 auto;
}

.container-padding {
  padding: 10px 0;
}

h2 {
  font: 30px/32px 'oswaldregular', Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0 0 25px;
}

.form-control label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #5f6062;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

:not(.tags) > input[type="text"],
input[type='email'],
input[type='password'] {
  display: inline-block;
  background: #fff;
  border: 1px solid #bec0c4;
  border-radius: 3px;
  padding: 0 10px;
  min-height: 34px;
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  box-sizing: border-box;
  vertical-align: middle;
}

.form-control.valid-error {
  position: relative;
}

.btn {
  display: inline-block;
  padding: 6px 10px 8px;
  background: #fff;
  border: 1px solid #596c99;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 2px 3px #dadce1;
  text-decoration: none;
  font-family: 'robotoregular', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  height: 35px;
  color: #596c99;
  box-sizing: border-box;
  cursor: pointer;
}

.btn.min-width {
  min-width: 150px;
}

.btn.margin-left {
  margin-left: 6px;
}

.btn.btn-primary {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6479a5+0,526491+100 */
  background: #6479a5; /* Old browsers */
  background: -moz-linear-gradient(top, #6479a5 0%, #526491 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6479a5 0%, #526491 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6479a5 0%, #526491 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6479a5', endColorstr='#526491', GradientType=0); /* IE6-9 */

  color: #fff;
}

.btn:disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
  cursor: default;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
}

.btn:active {
  box-shadow: none;
}

.btn .icon {
  top: 2px;
  margin-right: 10px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  position: relative;
}

/*.watch-list.simple.first thead th {*/
/*padding-top: 4px;*/
/*}*/

.col {
  float: left;
  width: 45%;
  padding-right: 5%;
}

.row {
  margin: 0 -10px;
}

.row .col {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.splitter {
  background: #e1e3e8;
  height: 2px;
  margin-bottom: 18px;
}

.selected-tabs {

}

.selected-tabs .tabs-title {
  display: block;
  opacity: 0.5;
  background: #dfe3ec;
  border-top: 1px solid #eef0f5;
  border-bottom: 1px solid #eef0f5;
  box-shadow: 0 0 0px 1px #d6d8dc;
  padding: 2px 0;
  font-size: 30px;
}

.selected-tabs .tabs-title:after {
  content: '';
  display: block;
  clear: both;
}

.selected-tabs .tabs-title .tab-name {
  display: block;
}

.selected-tabs .tabs-title .tab-name {
  padding: 4px 15px 2px 0;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  float: left;
  font: 20px/22px 'oswaldregular', Arial, Helvetica, sans-serif;
}

.selected-tabs .tabs-content.active .tabs-title {
  opacity: 1;
  cursor: pointer;
  *cursor: hand;
}

.box {
  margin-bottom: 20px;
}

.box:after {
  content: '';
  display: block;
  clear: both;
}
